.card{
    display: flex;
    border: solid 2px black;
    margin: 2em;
    width: 100%;
}

img{
    width: 30%;
}

ul{
    list-style: none;
    text-align: left;
    margin: 1em;
    padding: 0;
}

.girl-background{
background-color: pink ;
}
.boy-background{
    background-color: aquamarine;
}